
html, body{
    width: 85%;
    margin: auto;
}

.mytable{
    text-align: left;
}

.mytable tr{
    padding: 10px;
}

.header{
    background: linear-gradient(to right, #01e99b, #00cdda);
    color: white;
    text-align: center;
}

.login_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;

}

.logo_img{
    size: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_link, .login_link:hover, .login_link:active, .login_link:visited{
    color: black;
    margin-right: 5px;
    margin-top: 2px;
    text-decoration: none;
    
}

.reg_link, .reg_link:hover, .reg_link:active, .reg_link:visited{
    color: #666666;
    text-decoration: none;   
}

.ins_annuncio_text, .ins_annuncio_text:hover, .ins_annuncio_text:active, .ins_annuncio_text:visited{
    color: black;
    text-decoration: none;
}

.ins_annuncio{
    background: linear-gradient(to right, #01e99b, #00cdda);
    padding: 15px;
    border-radius: 0.375rem;
    color: white;
}

.header_icon{
    width: 30px;
    height: auto;
    vertical-align:sub;
}

.icon{
    width: 30px;
    height: auto;
    vertical-align: bottom;
    margin-right: 5px;
}

b{
    font-size: 20px;
    font-family: Optima;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.input_text{
    border-color: #00cdda;
    border-radius: 0.375rem;
    width: 310px;
    display: flex;
}

.search_ico{
    width: 50px;
    height: auto;
    vertical-align: bottom;
}

.search_label{
    font-size: large;
}

