html, body {
    height: 100%;
    margin: 0;
}

.img_shop{
    width: 60%;
}

.mytable{
    text-align: left;
}

.mytable tr{
    padding: 10px;
}

.header_container{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

.line{
    margin-right: 8%;
}

.hearth{
    margin-right: 50%;
}

.header{
    background: linear-gradient(to right, #fcbe4f, #fa5f5a);
    color: white;
    text-align: center;
}
.login_bar{
    align-items: center;
    padding: 20px;
}

.logo_img{
    size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_link, .login_link:hover, .login_link:active, .login_link:visited{
    color: black;
    margin-right: 5px;
    margin-top: 2px;
    text-decoration: none;
    
}

.login_link:hover{
    text-decoration: underline;
}

.reg_link, .reg_link:hover, .reg_link:active, .reg_link:visited{
    color: #666666;
    text-decoration: none;   
}
.reg_link:hover{
    text-decoration: underline;
}

.ins_annuncio_text, .ins_annuncio_text:hover, .ins_annuncio_text:active, .ins_annuncio_text:visited{
    color: black;
    text-decoration: none;
   
}

.ins_annuncio, .ins_annuncio_header{
    border: none;
    text-decoration: none;
    background: linear-gradient(to right, #fcbe4f, #fa5f5a);
    padding: 15px;
    border-radius: 2rem;
    color: white;
    align-items: center;
}

.header_icon{
    width: 15px;
    height: auto;
    vertical-align:sub;
}

.icon{
    width: 30px;
    height: auto;
    vertical-align: bottom;
    
}

b{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mycontainer {
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.input_text, .input_text:focus{
    border-left: none;
    border-radius: 0.375rem;
    width: 100%;
    height: 40px;
    outline: none;
}

.search_bar{
    
    display: flex;
    justify-content: space-around;
    width: 90%;
    border: 2px solid #fb9354;
    border-radius: 0.375rem;
    margin: auto;
}

.category_img{
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px;
    vertical-align:baseline;
    width: 26px;
    height: 26px;
}

.category_img, .input_text{
    vertical-align:text-bottom;
    border: none;
}

.input_text:focus{
    outline: none;
}

.search_ico{
    width: 60px;
    height: auto;
    vertical-align: bottom;
}

.carousel {
    width: 80%;
    height: auto;
}

footer{ 
    background-color: #e8e8e8;
    color: black;
    height: 30%;
    margin-top: 2%;
}


.div_footer{
    margin-left: 20%;
    margin-right: 20%;
   
}

.pay_icon{
    width: 50px;
    height: auto;
    vertical-align: bottom;
}

.product{
    width: 80%;
    height: auto;
    text-align: center;
}


.img_product{
    width: 100%;
    height: auto;
    display: block;  
}

.product-title {
    font-family: "SuisseIntl-Regular", sans-serif;
    font-size: 18px;
    color: #242424;
    margin-bottom: 0%;
}

.product-category{
    font-family: "SuisseIntl-Regular", sans-serif;
    font-size: 16px;
    color: #5F5F5F;
    margin-bottom: 0%;
}

.product-price{
    font-family: "SuisseIntl-Bold", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #242424;
    margin-bottom: 0%;
}

.overlay_button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.overlay_button_pref {
    position: absolute;
    top: 15%;
    left: 10%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.overlay_button_prod {
    position: absolute;
    top: 4%;
    left: 14%;
    z-index: 10;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.acquista_button{
    margin-top: 15%;
}

.container-item {
    display: flex;
    justify-content: space-around;
    width: 68%;
}

.single_product {
    border-radius: 0.375rem !important;
}

.single_product:hover {
    background-color: white;
    transform: scale(1.1);
    z-index: 1;
    margin:0;
    border: 2px solid #fb9354;    
}

.register{
    align-items:center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5); 
    border-radius: 0.355rem;
    width: 30%; 
    height: auto;
}

.input_log, .input_log:focus{
    margin-top: 7px; 
    padding: 7px;
    width: 75%;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.textarea_input{
    margin-top: 7px; 
    padding: 7px;
    width: 75%;
    height: 200px;
    border-radius: 0.355rem;
    outline: none;
    resize: none;
}

.container{
    width: 100% !important;
    max-width: 100% !important;
}

.log_button{
    background: linear-gradient(to right, #fcbe4f, #fa5f5a);
    border-radius: 0.355rem;
    padding: 15px;
    border: none;
    color: white;
}

.link_log, .link_log:hover, .link_log:visited, .link_log:focus{
    color: #fa5f5a;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 70%;
}



main {
    flex-grow: 1;
}

#dropdown {
    margin: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover{
    border: 2px solid grey;
    border-radius: 0.355rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 0.355rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-icon{
    width: 25px;
    margin-right: 10px;
    vertical-align: sub;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    min-width: 230px;    
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    display: block;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ricerca{
    margin-top: 2%;
}

.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer-grid-item{
    margin-top: 6%;
}

.first-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.first-grid-item{
    align-items: center;
    text-align: center;
}

.second-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) minmax(auto, 100px);
}

.third-grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.third-grid-item{
    justify-content: center;
    text-align: center;
}

.insertAd{
    align-items:center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5); 
    border-radius: 0.355rem;
    width: 30%;
    height: auto;
}



.photo-icon{
    width: 30px;
    height: auto;
    margin-top: 5vh;
    
}

.photo{
    margin-bottom: 5%;
}

.upload-container {
    border-radius: 0.355rem;
    position: relative;
    width: auto; 
    height: 14vh;
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}

#preview1, #preview2, #preview3, #preview4, #preview5, #preview6{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#fileToUpload1, #fileToUpload2, #fileToUpload3, #fileToUpload4, #fileToUpload5, #fileToUpload6{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.product-grid{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.table-product{
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5); 
    border-radius: 0.355rem;
    width: 80%;
    height: auto;
}

.user-product{
    border: 2px solid black;
    background-color: #e8e8e8;
    border-radius: 0.355rem;
    padding: 8px;
    text-align:center;
    width: 65%;
    height: auto;
}

.list-product{
   width: 60%;
}

.description_product{
    text-align: justify;
}

.titolo{ 
    font-size: 25px;
}

.comune{
    font-size: 16px; 
    margin-top: 10px;
}

.prezzo{
    font-size: 25px; 
    color: #fa5f5a;
}

.categoria{
    color: #A0A0A0; 
    font-size: 16px;
}

.align_product{
    text-align: left;
}


.button_annuncio_2{
    width: 50%; 
    padding: 10px;
    margin-bottom: 3%;
}

.favourite-grid{
    margin-top: 2%;
    display: grid;
    grid-template-columns: minmax(auto, 30vh) 1fr;
}

.popupHeader{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.transparent_layer{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.buyPopup{
    display: none;
    position: fixed;
    z-index: 10000;
    width: 40%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#acquistaPopup[display="block"]:hover {
    cursor: pointer;
}

.riepilogoOrdine{
    display:block;
    padding: 2%;
    background-color: #fb945430;
    border-radius: 1rem;
}

.riepilogo-grid-item{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width: 90%;
}

.riepilogoBox{
    background-color: white;
    border-radius: 1rem;
}

.first-account-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.second-account-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-account-grid-item, .second-account-grid-item{
    border-radius: 1rem; 
    border: 2px solid #fb9354; 
    height: 10vh; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 10%;
}

.user-grid{
    display: grid;
    grid-template-columns: minmax(auto, 60%) 1fr;
}